.header-feedback-and-game {
  background-color: grey;
  border: 2px black solid;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: auto;
  width: 100vw;
}

.img-from-gravatar {
  border-radius: 50%;
  width: 35px;
}

.player-score {
  margin-bottom: 200px;
}

.player-name {
  font-size: 22px;
}
